Flask==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.2
matplotlib==3.9.2
matplotlib-inline==0.1.6
numexpr==2.9.0
numpy==1.26.4
pandas==2.1.4
pillow==10.2.0
reportlab==4.2.5
requests==2.31.0
SciPy==1.11.4
sympy==1.13.1
terminado==0.17.1
torch==2.5.1
torchcam==0.4.0
torchvision==0.20.1
tornado==6.4
Werkzeug==3.1.2

